/* Varaibles */
:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  height: 100vh;
}

h1, .h1 {
  font-size: 5.4rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2, .h2 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3, .h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utilities */ 
.form-control {
  margin-bottom: 1rem;
  height: 5.5rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0 30px rgba(17, 17, 17, 0.08);
  outline: none;
}
.form-control::placeholder {
  color: #ccc;
}

.focus-effect {
  background-position: center center;
  transition: 0.4s;
}
.focus-effect:focus {
  background-color: rgba(255, 168, 22, 0.72);
  caret-color: #FFF;
  color: #FFF;
}
.focus-effect:focus::-webkit-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}

.hover-effects, .btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgba(163, 163, 163, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 0.2s;
}

.container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2rem;
}

.container > * {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.my-2 {
  margin-block: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Buttons  */
.btn {
  text-decoration: none;
  color: #1C3879;
  border: 0.1rem solid #1C3879;
  width: 20rem;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: white;
  border: none;
  transition: all 0.4s;
  text-transform: capitalize;
}
.btn:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* COLOR */
.blue {
  background-color: #1C3879;
  color: white;
}

.red {
  background-color: #ea5455;
  color: white;
}

.orange {
  background-color: #D1512D;
  color: white;
}

.green {
  background-color: #7FB77E;
  color: white;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: #222;
  width: 80vw;
  padding: 4rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  font-size: 2rem;
}
.main .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.main .img .img-box {
  max-width: 45vw;
  aspect-ratio: 16/9;
  max-height: 60vh;
  text-align: center;
}
.main .img .img-box img, .main .img .img-box canvas {
  width: 90%;
  object-fit: cover;
  object-position: center;
}
.main .img .upload input {
  display: none;
}
.main .img .upload label {
  color: #FFF;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border: 0.3rem dashed #fff;
}
@media (max-width: 1200px) {
  .main {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .main .img .img-box {
    max-width: 80vw;
  }
  .main .img .img-box img, .main .img .img-box canvas {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .main {
    width: 100vw;
  }
  .main .upload {
    margin-block: 5rem;
  }
}
.main .filters input[type=range] {
  outline: 0;
  border: 0;
  border-radius: 0.5rem;
  max-width: 100%;
  transition: box-shadow 0.2s ease-in-out;
}
.main .filters input[type=range] {
  -webkit-appearance: none;
  overflow: hidden;
  height: 2rem;
  background-color: #1597ff;
}
.main .filters input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
  color: #444;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
}
.main .filters input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -400px 0 0 400px rgb(196, 196, 196), 0 0 1rem 1rem rgb(211, 211, 211);
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  border: 2px solid #EAE3D2;
}
.main .filters input[type=range]:active::-webkit-slider-thumb {
  background: #fff;
  border: 4px solid #004f8f;
}
.main .filters ul, .main .filters ul li {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main .filters ul li {
  direction: rtl;
  text-align: right;
  text-transform: capitalize;
}
.main .filters ul li label {
  color: #FFF;
}
.main .filters ul li:last-child {
  flex-direction: row;
  justify-content: space-around;
}
.main .filters ul li:last-child a, .main .filters ul li:last-child button {
  color: #FFF;
  padding: 10px 20px;
  background-color: #D1512D;
  border-radius: 0.5rem;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
