body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: #222;
    width: 80vw;
    padding: 4rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 5fr 3fr;
    font-size: 2rem;   
    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        .img-box{
            max-width: 45vw;
            aspect-ratio: 16/9;
            max-height: 60vh;
            text-align: center;
            img, canvas{
                width:90%;
                object-fit: cover;
                object-position: center;
            }
            
        }
        .upload{
            input{display:none}
            label{
                color: #FFF;
                padding: .8rem 2rem;
                cursor: pointer;
                border: .3rem  dashed #fff; 
            }
        }
        
    }
    @media (max-width:1200px){
        &{
            grid-template-columns: 1fr;
            gap: 5rem;
        }
        .img {
            .img-box{
                max-width: 80vw;
                img, canvas{
                    width: 100%;
                }
            }
            
        }
    }
    @media (max-width:800px){
        &{width:100vw}
        .upload{
            margin-block: 5rem;
        }
    }
    .filters{
        input[type="range"] {
            outline: 0;
            border: 0;
            border-radius: .5rem;
            max-width: 100%;
            transition: box-shadow 0.2s ease-in-out;
            // Chrome
            & {
                -webkit-appearance: none;
                overflow: hidden;
                height: 2rem;
                background-color: #1597ff;
                
            }
            &::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                height: 20px;
                color: #444;
                // background-color: #DDD;
                // margin-top: -1px;
                transition: box-shadow 0.2s ease-in-out;
                display: flex;
        
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 20px;
                height: 20px;
                cursor: ew-resize;
                background: #fff; 
                box-shadow: -400px 0 0 400px rgb(196, 196, 196), 0 0 1rem 1rem rgb(211, 211, 211) ; 
                border-radius: 50%;
                transition: box-shadow 0.2s ease-in-out;
                position: relative;
                // top: 1px;
                border: 2px solid $beige
            }
            &:active::-webkit-slider-thumb {
                background: #fff;
                border: 4px solid #004f8f

                
            }
        }

        ul{
            &,li{
                display: flex;
                flex-direction: column;            
                gap: 25px;
            }
            li{
                direction:rtl;
                text-align: right;
                text-transform: capitalize;
                label{
                    color: #FFF;
                }
                &:last-child{
                    flex-direction: row;
                    justify-content: space-around;
                    
                    a,button{
                        color: #FFF;
                        padding: 10px 20px;
                        background-color: $orange;
                        border-radius: .5rem;
                        cursor: pointer;
                    }

                }
            }
        }

    }
}